<%= form_with(model: job, local: true, class: "uk-form-horizontal uk-margin-large") do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
   <%= form.label(:job_title, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :job_title %>
  </div>


  <div class="uk-margin">
    <%= form.label(:company, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :company %>
  </div>
  
  <div class="uk-margin">
    <%= form.label(:link, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :link %>
  </div>

  <div class="uk-margin">
     <%= form.label(:technologies, {}, {class: 'uk-form-label'}) %>
    <%= form.text_area :technologies %>
  </div>

 <div class="uk-margin">
    <%= form.label(:location, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :location %>
  </div>


 <div class="uk-margin">
    <%= form.label(:comment, {}, {class: 'uk-form-label'}) %>
    <%= form.text_area :comment %>
  </div>

 <div class="uk-margin">
    <%= form.label(:rating, {}, {class: 'uk-form-label'}) %>
    <%= form.select( :rating, [1,2,3,4,5], {}, {class: 'uk-select-width-medium', id: 'form-horizontal-select'} )  %>
  </div>

  <div class="uk-margin">
    <%= form.label(:date_applied, {}, {class: 'uk-form-label'}) %>
    <%= form.date_select :date_applied %>
  </div>

  <div class="uk-margin">
     <%= form.label(:heard_back, {}, {class: 'uk-form-label'}) %>
    <%= form.check_box :heard_back %>
  </div>


  <div class="uk-margin">
     <%= form.label(:cover_letter_used, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :cover_letter_used %>
  </div>

  <div class="uk-margin">
     <%= form.label(:resume_used, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :resume_used %>
  </div>

  <div class="uk-margin">
     <%= form.label(:listing_site, {}, {class: 'uk-form-label'}) %>
    <%= form.text_field :listing_site %>
  </div>

  <div class="uk-margin">
     <%= form.label(:remote_possible, {}, {class: 'uk-form-label'}) %>
    <%= form.check_box :remote_possible %>
  </div>

  
  <div class="uk-margin">
      <%= form.submit 'Create Job', :class => "uk-button uk-button-default" %>
  </div>
<% end %>
