
<p id="notice"><%= notice %></p>
<h1>Jobs Applied For</h1>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-justify uk-table-divider">
    <thead >
      <tr>
        <th style="font-size: 1.4em; font-weight: bold">Job title</th>
        <th style="font-size: 1.4em; font-weight: bold">Comment</th>
        <th style="font-size: 1.4em; font-weight: bold">Date applied</th>
        <th style="font-size: 1.4em; font-weight: bold">Heard back</th>
        
        <th style="font-size: 1.4em; font-weight: bold">Cover letter used</th>
        <th style="font-size: 1.4em; font-weight: bold">Resume used</th>
        <th style="font-size: 1.4em; font-weight: bold">Listing site</th>
        <th style="font-size: 1.4em; font-weight: bold">Technologies</th>
        <th style="font-size: 1.4em; font-weight: bold">Remote possible</th>
        <th style="font-size: 1.4em; font-weight: bold">Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <hr class="uk-divider">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>

          <td> <a class="uk-text-large" href=<%=job.link %>><%= job.job_title %></a></td>
          <td><%= job.comment %></td>
          <td><%= job.date_applied %></td>
          <td><%= job.heard_back %></td>
          <td><%= job.cover_letter_used %></td>
          <td><%= job.resume_used %></td>
          <td><%= job.listing_site %></td>
          <td><%= job.technologies %></td>
          <td><%= job.remote_possible %></td>
          <td><%= job.location %></td>
          <td>
            <span>
              <%= link_to 'Edit', edit_job_path(job) %> |
              <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </td>
        
        </tr>
        
      <% end %>
      
    </tbody>
  
  </table>
</div>
<br>

<%= link_to 'New Job', new_job_path %>