
<p id="notice"><%= notice %></p>
<h1>Jobs Applied For: <%=@jobs.count%></h1>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-justify uk-table-divider">
    <thead >
      <tr>
        <th style="font-size: 1.4em; font-weight: bold">Job title</th>
        <th style="font-size: 1.4em; font-weight: bold">Comment</th>
        <th style="font-size: 1.4em; font-weight: bold">Date applied</th>
        <th style="font-size: 1.4em; font-weight: bold">Rating</th>
        <th style="font-size: 1.4em; font-weight: bold">Heard back</th>
        <th style="font-size: 1.4em; font-weight: bold">Cover letter used</th>
        <th style="font-size: 1.4em; font-weight: bold">Resume used</th>
        <th style="font-size: 1.4em; font-weight: bold">Listing site</th>
        <th style="font-size: 1.4em; font-weight: bold">Technologies</th>
        <th style="font-size: 1.4em; font-weight: bold">Remote possible</th>
        <th style="font-size: 1.4em; font-weight: bold">Location</th>
        <th style="font-size: 1.4em: font-weight: bold"></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td> <a class="uk-text-large" href=<%=job.link %>><%= job.job_title %></a></td>
          <td class="uk-text-large"><%= job.comment %></td>
          <td class="uk-text-large"><%= job.date_applied %></td>
          <td class="uk-text-large"><%= job.rating %></td>
          <td class="uk-text-large"><%= job.heard_back %></td>
          <td class="uk-text-large"><%= job.cover_letter_used %></td>
          <td class="uk-text-large"><%= job.resume_used %></td>
          <td class="uk-text-large"><%= job.listing_site %></td>
          <td class="uk-text-large"><%= job.technologies %></td>
          <td class="uk-text-large"><%= job.remote_possible %></td>
          <td class="uk-text-large"><%= job.location %></td>
          <td>
            
                <div class="links">
                  <div class="edit" uk-tooltip="title: Edit Details">
                    <%= link_to edit_job_path(job) do %> 
                      <%= image_tag('edit-48.png') %>
                    <% end %>
                  </div>
                  <div class="trash" uk-tooltip="title: Delete Job">
                    <%= link_to  job, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <%= image_tag('trash-48.png') %>
                    <% end %>
                  </div>
                </div>
           
           </td>
        </tr>
      <% end %>
      
    </tbody>
  
  </table>
</div>
<br>

<a class="new" href="/jobs/new"><%= image_tag('Add-32.png') %> New Job</a><br><br>