
<p id="notice"><%= notice %></p>
<h1 class="uk-heading-primary">Jobs Applied For: <%=@jobs.count%></h1>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <thead >
      <tr style="background-color: #EEE">
        
        <th  style="color: white;">____</th>
        <th >Title</th>
        <th >Company</th>
        <th >Comment</th>
        <th >Date applied</th>
        <th >Rating</th>
        <th >Heard back</th>
        <th >Cover letter used</th>
        <th >Resume used</th>
        <th >Listing site</th>
        <th >Technologies</th>
        <th >Remote possible</th>
        <th >Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td >
            
              <div class="links">
                  <div class="edit" uk-tooltip="title: Edit Details">
                    <%= link_to edit_job_path(job) do %> 
                      <%= image_tag('edit-48.png') %>
                    <% end %>
                  </div>
                  <div class="trash" uk-tooltip="title: Delete Job">
                    <%= link_to  job, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <%= image_tag('trash-48.png') %>
                    <% end %>
                  </div>
                </div>
           
           </td>
          <td> <a class="uk-text-large" href=<%=job.link %>><%= job.job_title %></a></td>
          <td class="uk-text-large"><%= job.company %></td>
          <td class="uk-text"><%= job.comment %></td>
          <td class="uk-text"><%= job.date_applied %></td>
          <td class="uk-text-large"><%= job.rating %></td>
          <td class="uk-text"><%= job.heard_back %></td>
          <td class="uk-text"><%= job.cover_letter_used %></td>
          <td class="uk-text"><%= job.resume_used %></td>
          <td class="uk-text"><%= job.listing_site %></td>
          <td class="uk-text"><%= job.technologies %></td>
          <td class="uk-text"><%= job.remote_possible %></td>
          <td class="uk-text"><%= job.location %></td>
          
        </tr>
      <% end %>
      
    </tbody>
  
  </table>
</div>
<br>

<a class="new" href="/jobs/new"><%= image_tag('Add-32.png') %> New Job</a><br><br>