<p id="notice"><%= notice %></p>

<h1>Prospects</h1>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th style="font-size: 2.2em; font-weight: bold">Job title</th>
      <th style="font-size: 2.2em; font-weight: bold">Technologies</th>
      <th style="font-size: 2.2em; font-weight: bold">Location</th>
      <th style="font-size: 2.2em; font-weight: bold">Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
       
        <td><a class="uk-text-large" href='<%= prospect.link %>'> <%= prospect.job_title %></a></td>
        <td class="uk-text-large"><%= prospect.technologies %></td>
        <td class="uk-text-large"><%= prospect.location %></td>
        <td class="uk-text-large"><%= prospect.comment %></td>
        <td>
          <span>
              <%= link_to 'Edit', edit_prospect_path(prospect) %> |
              <%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= link_to 'Move to Applied', move_to_applied_prospect_path(prospect), method: :patch %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path %>
